# ---------------[ Unity generated ]------------------ #
/[Tt]emp/
/[Oo]bj/
/[Ll]ibrary/
UnityGenerated/

# --------[ Build, release and doc folders ]------ #
/[Dd]ebug/
/[Rr]elease/
/[Bb]uild/
/[Bb]in/
/[D]oc/

# ----[ Visual Studio / MonoDevelop generated ]------- #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini
